.container {
  padding: 0;
  margin: 0;
}

.main {
  padding: 0;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.homeLeft {
  flex: 1;
  max-height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.homeRight {
  display: flex;
  flex: 2;
  align-items: center;
  flex-direction: column;
  min-width: 50%;
  border-radius: 40px 0 0 40px;
  box-shadow: -20px 0 0 0 #e0e0e0;
  background-color: #AAAAAA;
}

.navbar {
  padding: 0 2rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar a {
  padding: 1rem;
  font-size: 1.5rem;
}

.linkcurrent {
  color:#fafafa;
  flex-grow: 1;
}

.navbar a:hover,
.navbar a:focus,
.navbar a:active {
  text-decoration: underline;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  font-weight: bolder;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 2rem;
  line-height: 1.15;
  font-size: 4rem;
}

.description {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10%;
  line-height: 1.5;
  font-size: 1.5rem;
  color: #fafafa;
}

.code {
  background: #eeeeee;
  color: black;
  text-align: center;
  margin: 2rem;
  padding: 1rem;
  line-height: 1.5;
  border-radius: 5px;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.logos {
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  justify-content:space-evenly;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
